.about-style {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 900px;
}

.about-style .inner{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.inner p {
    margin: 0px 0px 15px;
}

.inner p > a {
    color: var(--accent-color);
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
}

.inner p > a:hover::after {
    width: 100%;
}

.inner p > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    /* position: relative;
    bottom: 0.37em; */
    transition: var(--transition);
    background-color: var(--accent-color);
    opacity: 0.5;
}

.about-text ul.skills-list {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px,200px));
    overflow: hidden;
    list-style: none;
}

.about-text ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
}

.about-text ul.skills-list li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--accent-color);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.about-img {
    position: relative;
    max-width: 280px;
}

.about-img img{
    max-width: 280px;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.about-img .wrapper{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
}

.about-img .wrapper::before, .about-img .wrapper::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
}

.about-img .wrapper::before {
    top: 0px;
    left: 0px;
    background-color: transparent;
}
.about-img .wrapper::after{
    top: 20px;
    left: 20px;
    z-index: 0;
    border: 2px solid var(--accent-color);
}

@media (max-width:768px) {
    .about-style .inner {
        display: block;
    }

    .about-style .about-img {
        margin: 50px auto 0px;
        width: 70%;
    }
}